body {
    background-color: #ffffff;
    color: #403d39;
}

.titular {
    background-color: #4a4b4f;
    width: auto;
    margin: auto;
    color: #fffcf2;
    text-align: center;
    font-family: Ubuntu;
    padding: 3em 0 7em 15em;
}

.titular h1 {
    font-weight: 900;
    font-size: 3.2em;
    margin-bottom: 0.3em;
    ;
}

.titular h2 {
    font-size: 1.3em;
    font-weight: 600;
}


.texto_contacto {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1em;
    font-weight: normal;
    padding-left: 25px;
    color: #252422;
    
}

.dato_contacto {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}



.datos_contacto {
    position: relative;
    background-color: #eeeeee;
    top: -15em;
    right: -30px;
    width: 15em;
    padding-bottom: 80vh;
    color: #4a4b4f;
    float: left;
    word-wrap: break-word
}

.contenido {
    margin: 20px 0 0 350px;  

}

.datos_contacto .foto_carnet {
    display: block;
    margin: 3em auto;
}

.experiencia_laboral span {
    margin-left: 1em;
    padding-right: 2em;
}

.experiencia_laboral p {
    margin-left: 12em;
}

.estudios p, .introduccion p {
    margin-left: 1em;
}

.estudios span, .introduccion span {
    font-weight: bold;
}

.introduccion {
    margin-left: 3em;
}